{% extends 'base.html' %}

{% block content %}
  <h1>Hello World!</h1>
  <div class="row">
    <div class="col-md-12" style="margin-bottom: 15px;">
      <form class="" action="{{ url_for('search_results') }}" role="search">
        <div class="row">
          <div class="col-md-8">
            {{ search_form.query(class_="form-control", placeholder="Enter author or book name.") }}
          </div>
          <div class="col-md-2">
            {{ search_form.type(class_="form-control") }}
          </div>
          <div class="col-md-2">
            <button type="submit" class="btn btn-block btn-primary btn-search" disabled><i class="glyphicon glyphicon-search"></i> Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="panel-title">Books</span>
          <span class="pull-right">
            <a class="btn btn-success btn-xs" href="{{ url_for('add_book') }}"><i class="glyphicon glyphicon-plus"></i></a>
          </span>
        </div>
        <ul class="list-group">
          {% for book in books %}
            <li class="list-group-item">
              <a href="{{ url_for('edit_book', book_id=book.id) }}">{{ book.name }}</a>

              <div class="pull-right remove-item" style="display: none;">
                <form action="{{ url_for('remove_book', book_id=book.id) }}" method="post">
                  <button class="btn btn-danger btn-xs" type="submit"><i class="glyphicon glyphicon-remove"></i>
                  </button>
                </form>
              </div>
            </li>
          {% else %}
            <li class="list-group-item">No books.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <span class="panel-title">Authors</span>
          <span class="pull-right">
            <a href="{{ url_for('add_author') }}" class="btn btn-success btn-xs"><i class="glyphicon glyphicon-plus"></i></a>
          </span>
        </div>
        <ul class="list-group">
          {% for author in authors %}
            <li class="list-group-item">
              <a href="{{ url_for('edit_author', author_id=author.id) }}">{{ author.fullname }}</a>

              <div class="pull-right remove-item" style="display: none;">
                <form action="{{ url_for('remove_author', author_id=author.id) }}" method="post">
                  <button class="btn btn-danger btn-xs" type="submit"><i class="glyphicon glyphicon-remove"></i>
                  </button>
                </form>
              </div>
            </li>
          {% else %}
            <li class="list-group-item">No authors.</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
